rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function creatingMine() { return signedIn() && request.resource.data.userId == request.auth.uid; }
    function existingMine() { return signedIn() && resource.data.userId == request.auth.uid; }
    function keepingMine() { return signedIn() && request.resource.data.userId == request.auth.uid; }

    match /users/{uid} {
      allow create, read, update, delete: if signedIn() && uid == request.auth.uid;
    }

    match /{collection}/{docId} {
      allow create: if creatingMine();
      allow read: if existingMine();
      allow update: if existingMine() && keepingMine();
      allow delete: if existingMine();
    }
  }
}